:root {
    --blue-color: rgb(81, 81, 217);
}

.bg-dark {
    background-image: linear-gradient(to right, var(--blue-color), rgb(27, 27, 122));
}

.input-group {
    display: block;
    padding-bottom: 20px;
}

.input-group-append {
    display: block;
    padding-top: 20px;
}

#search-button {
    background-color: var(--blue-color);
}

hr {
    color: rgb(159, 157, 157);
    border-top: 1px solid rgba(0, 0, 0, .25);
}

